*{
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 1300;
    font-style: normal;
    font-size: 26px;
    background-color: #E9D8BA;	
}

section.container{    
    padding: 10px 40px;
	background-color: #E9D8BA;	
	width: 100%;
}

br{
	padding: 0;
}

h1{
    font-weight: 900;
    font-size: 60px;
	text-align: center;
    color: #FF4C45;
}
h2{
    font-weight: 400;
    font-size: 30px;
    color: #FF4C45;
}

#idArticulo{
	color: #FF4C45;
	font-weight: 700;
	text-align: center;
}

.articuloBd{
	padding: 10px 0px;
}

.articuloBd b{
	text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px 10px;
    justify-content: center;    
}

.item{
    width: 50%;
    padding: 0px 30px;
    box-sizing: border-box;
    margin: 0px;
	text-align: center;
}

/* boton utilizado */
button.button-1 {
	background-color: #FF4C45;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #EAEAEA;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 30px 0px;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;    
}

.button-1:hover,
.button-1:focus {
	background-color: #FCAFAE;
}

nav {
	background-color: #FF4C45;
	color: white;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center; /* Centrar el contenido horizontalmente */
	flex-direction: column; /* Permitir que los elementos se apilen */
	text-align: center;
	border-radius: 0.5em; /* Bordes redondeados */
}

nav .nav-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; /* Permitir que los enlaces se acomoden en varias filas */
}

nav .nav-left a {
	color: white;
	text-decoration: none;
	margin: 0 10px;
	font-size: 1em;
	padding: 0.5em 1em; /* Agregar espacio interno */
	border-radius: 0.25em; /* Bordes redondeados */
	transition: background-color 0.3s ease; /* Transición suave en el hover */
}

nav .nav-left a:hover {
	background-color: #cc3a34;
	color: white;
}